/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
@import './components/font-awesome.min.css';
/* your components */
@import './components/button.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/about-me.css';
@import './components/services.css';
@import './components/projects-completed.css';
@import './components/projects.css';
@import './components/clients-feedback.css';
@import './components/plan.css';
@import './components/posts.css';
@import './components/partners.css';
@import './components/footer.css';
@import './components/form.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/
/*main style*/
h1,
h2,
h3,
h4 {
    color: #222222;
}
h1 {
    text-transform: uppercase;
    font-size: 60px;
}
h2 {
    text-transform: uppercase;
    font-size: 36px;
}
h3 {
    text-transform: capitalize;
    font-size: 36px;
}
h4 {
    font-size: 18px;
}
/* header */
/* hero-home */
/* about-me */
/* services */
/* projects-completed */
/* projects */
/* clients-feedback */
/* plan */
/* posts */

h3 {
    text-transform: capitalize;
    color: #000;
    font-size: 33px;
    padding-bottom: 30px;
}

h4 {
    padding: 15px 0;
}

p {
    color: #80828D;
    font-size: 15px;
    line-height: 21px;
}

.label > img {
    width: 100%;
    height: auto;
  } 


/* partners */
/* footer */