/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
@import './components/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* your components */
@import './components/button.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/about-me.css';
@import './components/services.css';
@import './components/projects-completed.css';
@import './components/projects.css';
@import './components/clients-feedback.css';
@import './components/plan.css';
@import './components/posts.css';
@import './components/partners.css';
@import './components/footer.css';
@import './components/form.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/
/*main style*/
h1,
h2,
h3,
h4 {
    color: #222222;
}
h1 {
    text-transform: uppercase;
    font-size: 60px;
}
h2 {
    text-transform: uppercase;
    font-size: 36px;
}
h3 {
    text-transform: capitalize;
    font-size: 36px;
}
h4 {
    text-transform: capitalize;
    font-size: 18px;
}
a {
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
    text-decoration: none;
}
    a:hover {
        color: #8490ff;
    }
p {
    color: #777777;
    font-size: 14px;
}
/* header */
/* hero-home */
/* about-me */
/* services */
/* projects-completed */
/* projects */
/* clients-feedback */
.header-clients-feedback > h3 {
    margin-bottom: 10px;
    font-weight: 600;
}
.header-clients-feedback > p {
    margin-bottom: 15px;
    font-weight: 300;
}
.cont-right > h4.cont-right-text {
    margin-bottom: 5px;
}
.cont-right > p.cont-right-text {
    margin-bottom: 15px;
    font-weight: 300;
}
/* plan */
/* posts */

.post p {
    line-height: 21px;
    font-size: 15px;
}

.post-header > h3 {
    text-transform: capitalize;
    padding-bottom: 30px;
}

.post-block > p {
    text-align: initial;
}

.post-block > .label > img {
    width: 100%;
    height: auto;
} 


/* partners */
/* footer */