/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
/* your components */
@import './components/button.css';
@import './components/faq.css';
@import './components/footer.css';
@import './components/form.css';
@import './components/gallery.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/pricing.css';
@import './components/testimonials.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/

/* header */
/* main style */
/* this is me */
/* about me */
/* services */
/* projects completed */
/* projects */
/* clients feedback about me */
/* choose your plan */
/* posts */
/* partners */
/* footer */