/* reset/main */
@import './components/reset.css';
@import './components/layout.css';
/* 3rd party components */
@import './components/font-awesome.min.css';
/* your components */
@import './components/button.css';
@import './components/header.css';
@import './components/hero-home.css';
@import './components/about-me.css';
@import './components/services.css';
@import './components/projects-completed.css';
@import './components/projects.css';
@import './components/clients-feedback.css';
@import './components/plan.css';
@import './components/posts.css';
@import './components/partners.css';
@import './components/footer.css';
@import './components/form.css';

/*
***********************************************
CUSTOM HOME PAGE STYLES GOES BELOW THIS COMMENT
***********************************************
*/

/* header */
/* hero-home */
/* about-me */
/* services */
/* projects-completed */
/* projects */
/* clients-feedback */
/* plan */
/* posts */

.container.post > .row > p {
    color: #80828D;
}
.container.post > .row > .post-section > p {
    color: #80828D;
}

.container > .row > .post-section {
    display: grid;
    grid-template-columns: 1fr 400px 400px 400px 1fr;
}

/* partners */
/* footer */