p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 16px;
}
h3 {
    color: #222222;
    font-size: 36px;
    margin-bottom: 10px;
}
h4 {
    color: #222222;
    font-size: 18px;
    padding-bottom: 10px;
}

/* img {
    width: 35px;
} */
.container > .row > * {
   background-color: lightblue;
}
.row.clients-feedback {
    column-gap: 10px;
    row-gap: 5px;
}
    div.row.clients-feedback-main {
        padding-bottom: 30px;
        text-align: center;
        text-transform: capitalize;
    }
    div.col-5.clients-feedback {
        padding: 25px 30px 10px 30px;
    }
    div.col-5.clients-feedback > div.cont-left {
            width: 10%;
            display: inline-block;
            float: left;
        }
        div.cont-left > img{
            width: 35px;
        }
        div.col-5.clients-feedback > div.cont-right {
            width: 85%;
            display: inline-block;
            float: right;

        }
    div.col-5.clients-feedback > div.cont-left {
            width: 10%;
            display: inline-block;
            float: left;
        }
        div.cont-left {
            display: inline-block;
            float: left;
            width: 100%;
            height: 100%;
            margin-right: 20px;
        }
            div.cont-left > img{
                display: block;
                width: 100%;
            }
        div.col-5.clients-feedback > div.cont-right {
            width: 85%;
            display: inline-block;
            float: right;

        }
            .cont-arrow > span.arrow {
                display: inline-block;
                width: 100%;
                height: 49%;
            }