p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 16px;
}
h3 {
    color: #222222;
    font-size: 36px;
    margin-bottom: 10px;
}
h4 {
    color: #222222;
    font-size: 18px;
    padding: 0px;
    margin-bottom: 5px;
}

.container > .row > * {
   background-color: lightblue;
}
.row.clients-feedback {
    column-gap: 30px;
    row-gap: 5px;
}
    .center-clients-feedback {
        grid-column: 3 / 11;
    }
div.row.clients-feedback-main {
    padding-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}
    div.clients-feedback-l {
        grid-column: 2 / 7;
        padding: 25px 30px 10px 30px;
    }
    div.clients-feedback-r {
        grid-column: 7 / 12;
        padding: 25px 30px 10px 30px;
    }
    div.clients-feedback-l > div.cont-left {
            width: 10%;
            display: inline-block;
            float: left;
        }

        div.clients-feedback-l > div.cont-right {
            width: 85%;
            display: inline-block;
            float: right;

        }
    div.clients-feedback-r > div.cont-left {
            width: 10%;
            display: inline-block;
            float: left;
        }
    div.clients-feedback-r > div.cont-right {
            width: 85%;
            display: inline-block;
            float: right;
        }
            div.cont-left > img{
                display: block;
                width: 90%;
            }
    .cont-arrow {
        display: grid;
        grid-template-areas:
        ". a a a ."
        ". b b b ."
        ". c c c ."
        ". d d d .";
    }
    .cont-arrow > span.arrow-up {
        display: inline-block;
        width: 100%;
        height: 50%;
        text-align: center;
        /* padding-top: 30px; */
        grid-area: b;
        align-self: center;
        justify-self: center;
    }
    .cont-arrow > span.arrow-down {
        display: inline-block;
        width: 100%;
        height: 50%;
        text-align: center;
        /* padding-bottom: 50px; */
        grid-area: c;
        align-self: center;
        justify-self: center;
    }
        .fa fa-arrow-down {
            display: inline-block;
            width: 100%;
        }