footer {
    background-color:#04091e;
}

footer .footer-block > h4 {
    color: white;
}

footer .footer-block > p {
    text-align: left;
    line-height: 30px;
}
i {
    padding: 8px 8px 8px 8px;
}

footer .input {
    display: inline-block;
    width: calc(100% - 50px);
    height: 50px;
    float: left;
    padding-left: 20px;
    
}
footer .input-form-row {
    padding-top: 10px;
}
footer .mygtukas {
    display: inline-block;
    background-color: #8490ff;
    fill: white;
    width: 50px;
    height: 50px;
    /* text-align: center; */

}

footer .footer-block > .fa {
    color: white;
    margin-top: 15px;
 
}

footer .socials-row > .fa {
    padding: 8px;
}

footer .socials-row:hover {
    color: #8490ff;
 
}

.socials-row > a {
    color: #fff;
}

.footer-block > p > a {
    color: #8490ff;
}

/* a:-webkit-any-link {
    color: #fff;
} */

footer .lnr-arrow-right {
    padding: 15px 15px;
}

