header.container {
    padding: 20px 0;
    position: fixed;
    background-color: white;
    width: 100%;
    transition: 0.5s;
}
header .logo {
    display: inline-block;
    float: left;
    height: 30px;
}
    header nav {
        display: inline-block;
        float: right;
    }
        header nav > a {
            display: inline-block;
            float: left;
            color: black;
            padding: 0 10px;
            padding-left: 25px;
            padding-top: 10px;
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
        }
        .scroll {
            box-shadow: rgba(158, 158, 158, 0.3) -21.213px 21.213px 30px 0px;
            transition: 0.5s;
        }
        
       