.plans {
    display: grid;
}
.plan1 {
    grid-column: 1/4;
    grid-row: 1/1;
}
.plan2 {
    grid-column: 4/7;
    grid-row: 1/1;
}
.plan3 {
    grid-column: 7/10;
    grid-row: 1/1;
}
.plan4 {
    grid-column: 10/13;
    grid-row: 1/1;
}
.plans {
    background-color: #F9F9FF;
    height: 530px;
    text-align: center;
    gap: 40px;
    padding-right: 20px;
    padding-left: 20px;
}
.pa {
    border-top: 1px solid #eee;
    padding-top: 15px;
    padding-bottom: 15px;
}
.ind {
    margin: 0 0 40px 0;
}
.border {
    background-color: rgba(132, 144, 255, 0.1);
    border-radius: 100px;
    border: 30px solid rgba(132, 144, 255, 0.1);
    height: 140px;
    width: 140px;
    margin-top: 40px;  
    padding-top: 20px;
    padding-bottom: 35px;
    font-size: 36px;
    color: black;
}
.plan1>div .plan2 >div .plan3>div .plan4 > div{
    display: grid;
}
.align {
    display: inline-block;
}
.cho {
    margin:0;
    padding-bottom: 10px;
    text-align: center;
}
.when {
    margin-bottom: 60px;
    text-align: center;
}
.price {
    color: black;
    font-size: 36px;
    font-weight: 600;
    padding-top: 40px;
}
.plan-name {
padding-top: 20px;
padding-bottom: 15px;
}