.label {
    justify-content: center; 
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    font-weight: 300;
    line-height: 1.625em;
}

.mb-10 {
    margin-bottom: 10px;
    font-size: 36px;
    color: #222222;
    line-height: 1.2em;
    font-weight: 600;
    margin-top: 0;

}
.p {
    font-size: 14px;
    color: #777777
   
}

.container {
    justify-content: center;
    justify-content: center; 
    font-family: sans-serif;
    font-size: 14px;
    position: relative;
    font-weight: 300;
    line-height: 1.625em;

}