.label > h3 {
    text-align: center; 
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.625em;
     
}.ali > p {
    text-align: center;
}

.all {
    color: #8490ff;
    font-size: 14px;
    display: inline-block;
    padding-left: 40px;
    text-align: center;
}
.filters > a {
    font-size: 14px;
    display: inline-block;
    padding-left: 40px;
    text-align: center;
}

.filters {
    text-align: center;
    padding-top: 60px;
    display: inline-block;
    padding-bottom: 60px;
    padding-left: 368px;
    padding-right: 368px;
    
}
.filters-content {
    text-align: center;
    display: inline-block;
    

}


.filters-content > h4 {
    padding-top: 20px;
}