.label > h3 {
    text-align: center; 
    margin-bottom: 20px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.625em;
     
}.ali > p {
    text-align: center;
}

.all {
    color: #8490ff;
    font-size: 14px;
    display: inline-block;
    padding-left: 40px;
    text-align: center;
}
.filters > a {
    font-size: 12px;
    display: inline-block;
    padding-left: 40px;
    text-align: center;
    position: relative;
}
.filters > a.filter-a:hover::before {
    content: '';
    position: absolute;
    background-color: black;
    display: inline-block;
    height: 2px;
    top: 18px;
    animation: hoverLine 0.2s forwards;
}
.filters > a.filter-a.filter-before-long::before {
    width: 19%;
}
.filters > a.filter-a.filter-before-short::before {
    width: 7%;
}
.filters > a.filter-a.filter-before::before {
    width: 25%;
}

.filters {
    text-align: center;
    padding-top: 60px;
    display: inline-block;
    padding-bottom: 60px;
    padding-left: 368px;
    padding-right: 368px;
    
}
.filters-content {
    text-align: center;
    display: inline-block;
    position: relative;

}


.filters-content > h4 {
    padding-top: 20px;
}

.filters-content > .filters-icon {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    padding: 150px 141px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.filters-content:hover > .filters-icon {
    display: inline-block;
    animation: animateGradient 0.2s forwards;
}
@keyframes hoverLine {
    0% {
        width: 0%;
    }
    100% {
        
    }
}

@keyframes animateGradient {
    0% {
        background-image: linear-gradient(to right, #8490ff73, #62bcfc73);
    }
    10% {
        background-image: linear-gradient(to right, #8490ff80, #62bcfc80);
    }
    20% {
        background-image: linear-gradient(to right, #8490ff99, #62bcfc99);
    }
    30% {
        background-image: linear-gradient(to right, #8490ffA3, #62bcfcA3);
    }
    40% {
        background-image: linear-gradient(to right, #8490ff99, #62bcfc99);
    }
    50% {
        background-image: linear-gradient(to right, #8490ffA6, #62bcfcA6);
    }
    60% {
        background-image: linear-gradient(to right, #8490ffB3, #62bcfcB3);
    }
    70% {
        background-image: linear-gradient(to right, #8490ffBA, #62bcfcBA);
    }
    80% {
        background-image: linear-gradient(to right, #8490ffBF, #62bcfcBF);
    }
    90% {
        background-image: linear-gradient(to right, #8490ffCC, #62bcfcCC);
    }
    100% {
        background-image: linear-gradient(to right, #8490ffD9, #62bcfcD9);
    }
}