.container > .row > * {
    /* background-color: pink; */
    
}

.block {
    padding: 40px;
    text-align: center;

}

.label > h3 {
    text-align: center; 
    margin-bottom: 20px; 
}
.ali > p {
    text-align: center;
}

.block > img {
    height: 30px;
    width: 30px;
    margin-bottom: 30px;
}

.block:hover > img {
    background-image: linear-gradient(to right, #8490ff, #62bdfc);
}
.block:hover > h4 {
    color: #8490ff;
}